## Hotel Reviews - Sentiment Analysis

In [1]:
## Import all packages
import pandas as pd
import numpy as np

In [2]:
## Load the dataset
df = pd.read_csv("/Users/yixuanli/repos/Exploratory-Data-Analysis/Sentiment-Analysis/Hotel-Reviews-Analysis/hotel_reviews.csv")
print("## The First 5 Rows ##", "\n")
df.head()

## The First 5 Rows ##

,Index,Name,Area,Review_Date,Rating_attribute,Rating(Out of 10),Review_Text
0,0,Hotel The Pearl,"Paharganj, New Delhi",Jul-23,Best budget friendly hotel,9.0,Hotel the pearl is perfect place to stay in De...
1,1,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Amazing place,9.0,Location of the hotel is perfect. The hotel is...
2,2,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Overall good stay. Economic.,9.0,"Location, Indian food."
3,3,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Lovely,9.0,The location and the hotel itself is great. Ne...
4,4,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Great hotel Great staff and great staying,9.0,Friendly and smiling staffs.. The reception st...

In [6]:
%reload_ext autoreload
%autoreload 2
from data_management import data_report
data_report(df, verbose=True)

--------------------RAW DATAFRAME INFO--------------------
Row_num of the dataset: 7001 | Col_num of the dataset: 7
Size of the dataset: 49007
Num of duplicates: 0
## Dataframe Info ##
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001 entries, 0 to 7000
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              7001 non-null   int64
 1   Name               7001 non-null   object
 2   Area               7001 non-null   object
 3   Review_Date        7001 non-null   object
 4   Rating_attribute   7001 non-null   object
 5   Rating(Out of 10)  7001 non-null   float64
 6   Review_Text        6996 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 383.0+ KB
None
## Null Data ##
Index                0
Name                 0
Area                 0
Review_Date          0
Rating_attribute     0
Rating(Out of 10)    0
Review_Text          5
dtype: int64
## Number of Unique Values ##
Index                7001
Name                  570
Area                   31
Review_Date            36
Rating_attribute     1875
Rating(Out of 10)      12
Review_Text          3903
dtype: int64
--------------------DATA FEATURES--------------------
             Index                                         Name  \
count   7001.00000                                         7001
unique         NaN                                          570
top            NaN  OYO Townhouse 023 CR Park Near Lotus Temple
freq           NaN                                           40
mean    3500.00000                                          NaN
std     2021.15895                                          NaN
min        0.00000                                          NaN
25%     1750.00000                                          NaN
50%     3500.00000                                          NaN
75%     5250.00000                                          NaN
max     7000.00000                                          NaN

                          Area Review_Date Rating_attribute  \
count                     7001        7001             7001
unique                      31          36             1875
top     South Delhi, New Delhi      Aug-23      Exceptional
freq                      1394        1560              772
mean                       NaN         NaN              NaN
std                        NaN         NaN              NaN
min                        NaN         NaN              NaN
25%                        NaN         NaN              NaN
50%                        NaN         NaN              NaN
75%                        NaN         NaN              NaN
max                        NaN         NaN              NaN

        Rating(Out of 10)                             Review_Text
count         7001.000000                                    6996
unique                NaN                                    3903
top                   NaN   no comments available for this review
freq                  NaN                                     632
mean             7.030981                                     NaN
std              2.882846                                     NaN
min              1.000000                                     NaN
25%              6.000000                                     NaN
50%              8.000000                                     NaN
75%              9.000000                                     NaN
max             10.000000                                     NaN
## Ratings Info ##
10.0    1436
8.0     1360
9.0     1188
7.0      959
1.0      866
6.0      493
5.0      320
4.0      133
3.0      124
2.0      119
2.5        2
7.9        1
Name: Rating(Out of 10), dtype: int64

In [38]:
df_n = df.drop_duplicates(inplace=False)
df_n.shape

(7001, 7)

In [4]:
print(df.duplicated().sum())

0